<div class="main-container">
    <div class="nav-container">
        <ul>
            <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact : true}"><a routerLink=""
                fragment="Home" >Home</a></li><!-- localhost:4200/Home -->
            <li [routerLinkActive]="'active'"><a routerLink="" fragment="About">About</a></li>            <li [routerLinkActive]="'active'"><a routerLink="" fragment="Contact">Contact</a>
            <li [routerLinkActive]="'active'"><a routerLink="" fragment="Courses">Courses</a></li>localhost:4200/Courses
        </ul>
        <!-- <ul>
            <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact : true}"><a [routerLink]="''"
                fragment="Home" >Home</a></li><!-- localhost:4200/Home -->
            <!-- <li [routerLinkActive]="'active'"><a [routerLink]="'About'">About</a></li><!-- localhost:4200/About -->
            <!-- <li [routerLinkActive]="'active'"><a [routerLink]="'Contact'">Contact</a></li>localhost:4200/Contact -->
            <!-- <li [routerLinkActive]="'active'"><a [routerLink]="'Courses'">Courses</a></li>localhost:4200/Courses -->
        <!-- </ul>  --> -->
    </div>
    <div class="component-container">
        <app-home id="Home"></app-home>
        <app-about id="About"></app-about>
        <app-contact id="Contact"></app-contact>
        <app-courses id="Courses"></app-courses>
        <!-- <router-outlet></router-outlet> -->
    </div> 
</div>
